#about-wrap {
  background-image: url("./odnodi_fx1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about-content-wrap {
  background-color: white;
  padding: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  #about-content-wrap {
    width: 33%;
  }
}