#yt-playlists-wrap {
  background-image: url("./trippy_v3_7.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

#iframes-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#iframes-wrap h4 {
  background-color: white;
}

#iframes-wrap iframe {
  width: 560px;
  height: 315px;
  margin: 10px 0;
}