nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  /* grid-template-columns: 50% 50%; */
  text-align: center;
}

nav ul{
  list-style: none;
  padding: 0;
  display: flex;
  /* display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%; */
}

nav li {
  /* padding-left: 10px;
  padding-right: 10px; */
  padding: 10px;
}

nav h1 {
  /* padding-left: 37px;
  text-align: center; */
  padding: 10px;
}

@media (max-width: 786px) {
  nav {
    /* grid-template-columns: 100%; */
    grid-template-columns: 1fr;
  }
  
  nav ul {
    /* grid-template-columns: 1fr; */
    flex-direction: column;
  }

  nav li {
    /* text-align: center; */
    padding: 8px;
  }

  nav h1 {
    /* text-align: center; */
    padding: 8px;
  }
}