#yt-playlists-wrap {
  background-image: url("./img/trial4_10232023_17b.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.iframes-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#iframes-wrap-yt h4 {
  background-color: white;
}

#iframes-wrap-yt iframe {
  width: 560px;
  height: 315px;
  margin: 10px 0;
}

#iframes-wrap-sc h4 {
  background-color: white;
}

#iframes-wrap-sc iframe {
  width: 560px;
  height: 175px;
  margin: 10px 0;
}

@media (max-width: 768px) {
  #yt-playlists-wrap {
    background-size: cover;
  }

  #iframes-wrap {
    align-items: flex-start;
  }

  #iframes-wrap iframe {
    width: 100%;
    height: auto;
  }
}